html,body {
  margin: 0;
  padding: 0;
  
}
body {
  background-color: yellow;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: black;
}

@media (min-width: 0px , max-width: 300px){
    body{
    background-color: red;
        }


    .p1 {
    padding-left: 2em;
        }

}

@media (min-width: 300px, max-width: 600px){
    body{
    background-color:green;
    }
    .p2 {
    padding-left: 2em;
    }
}
.p3{
padding-left: 2em;
}

.p4{
padding-left: 2em;
}

.p5{
padding-left: 2em;
}

.p6{
padding-left: 2em;
}



