html,body {
  margin: 0;
  padding: 0;
  
}
body {
  background-color: yellow;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: black;
}

@media (max-width: 0px){
    body{
    background-color: red;
        }
    .p1 {
    padding-left: 2em;
    display: none;
        }
}

@media (max-width: 300px){
    body{
    background-color:green;
        }
    .p2 {
    padding-left: 2em;
    display: none;
    }
}

@media (max-width: 600px){
    body{
    background-color: purple;
        }
    .p3{
    padding-left: 2em;
        display: none;

        }
}

@media (max-width: 800px){
    body{
    background-color: blue;
        display: none;

        }
    .p4{
    padding-left: 2em;
        display: none;

        }   
}

@media (max-width: 1000px)(min-width: 800px;){
    body{
    background-color: brown;
        }
    .p5{
    padding-left: 2em;
        display: block;

        }
}

@media (max-width: 1300px){
    body{
    background-color: grey;
        display: block;

        }
    .p6{
    padding-left: 2em;
        }
}


