html,body {
  margin: 0;
  padding: 0;
  
}
body {
  background-color: yellow;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: black;
}
.p {
color:green;
}

