
body {
  background-color: yellow;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: black;
}

.p1{
padding-left: 2em
}
.p2{
display:none
}
.p3{
display:none
}
.p4{
display:none
}
.p5{
display:none
}
.p6{
display:none
}

@media (max-width: 1200px){
    body{
    background-color:green;
        }
    .p2 {
    padding-left: 2em;
        display: block;

    
    }
}

@media (max-width: 1000px){
    body{
    background-color: purple;
        }
    .p3{
    padding-left: 2em;
        display: block;


        }
}

@media (max-width: 800px){
    body{
    background-color: blue;

        }
    .p4{
    padding-left: 2em;
        display: block;


        }   
}

@media (max-width: 600px){
    body{
    background-color: brown;
        }
    .p5{
    padding-left: 2em;
        display: block;

        }
}

@media (max-width: 400px){
    body{
    background-color: grey;
        display: block;

        }
    .p6{
    padding-left: 2em;
    display: block;

        }
}


